# Virtual environments
.venv/
venv/
.env
Lib/
data/

# Jupyter notebook outputs
.ipynb_checkpoints/
*.ipynb_outputs

# Data files
data/raw/
data/processed/
*.csv
*.xlsx
*.parquet
*.h5

# Python compiled files
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/
CLAUDE.md
GEMINI.md


# OS files
Thumbs.db